<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="loading.Properties.Settings.UserDataConnectionString"
            connectionString="Data Source=DESKTOP-QCGGAUJ;Initial Catalog=UserData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="loading.Properties.Settings.LibraryABConnectionString"
          connectionString="Data Source=DESKTOP-QCGGAUJ;Initial Catalog=LibraryAB;Integrated Security=True"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>